/* ------------------------------------- */
/* Teste de categoria */

.card-categoria {
    text-align: center;
    color: #212529;
    margin-top: 17px;
}

.card-categoria-h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 6px 13px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {}

.card-img-top {}

.card-footer {
    color: white;
}

.bg-dark {
    color: white;
}

.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),
    var(--bs-bg-opacity))!important;
    color: white;
    text-align: center;
    background-color: white;
}


