.imgCard {
    width: 350px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 4px 4px 0px 0px;
    background: url(<path-to-image>),
    lightgray 0px -105.751px / 100% 124.408% no-repeat;
    
}



/*.container__card__list {}

.titulo-produtos {}

.card__list {}

.card {}

.imgCard {}

.h4-titulo-card {}

.p-card {}

.p-valor-card {}

.produtos-botao {}

.verMais {}
*/





/*  JAVASCRIPT  */

/*
.card__list {
    width: 671px;
    height: 762px;
    margin: 0 auto;
    overflow: auto;
}

.card {
    display: flex;
    align-items: right;
    margin: 18px;
}
*/