.container__card__list {}

.titulo-produtos {}

.card__list {}

.card {}

.imgCard {}

.h4-titulo-card {}

.p-card {}

.p-valor-card {}

.produtos-botao {}

.verMais {}






/*  JAVASCRIPT  */

/*
.card__list {
    width: 671px;
    height: 762px;
    margin: 0 auto;
    overflow: auto;
}

.card {
    display: flex;
    align-items: right;
    margin: 18px;
}
*/