.container-carousel {}

.d-block .w-100 {
    width: auto;
}

#demo {}


.carousel-inner {
    width: 350px;
    height: 422px;
    flex-shrink: 0;
}

/*
@media (min-width: 375px) {
    .carousel-inner {
        background-image: url('/img/carousel/375.Banner.2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        height: auto;
    }
}

@media (min-width: 768px) {
    .carousel-inner {
        background-image: url('/img/carousel/768.Banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        height: auto;
    }
}

@media (min-width: 1440px) {
    .carousel-inner {
        background-image: url('/img/carousel/1440.Banner.2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        width: 1440px;
        height: 415px;
        flex-shrink: 0;
    }
}
*/















































/*
.banner1-768 {
    width: 25%;
    float:	left;
    /*float pra quando a imagem crescer
}

.banner1-1440 {}

*/






/*
@media (min-width: 375px) {
    .banner1-375 {
        width: 25%;
        height: 415px;
        flex-shrink: 0;
        background: url("img/carousel/375.Banner.1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
*/


/*
.banner1-375	{
    float:	left;
    width: 25%;
}
@media	(max-width:	375px)	{
    .banner1-375	{
        float:	none;
        width: 100%;
    }
}
*/






















































/*.container-carrossel {}*/

/*.carousel-inner {
   /* bottom: 67px;
}
*/
/*
.slogan-meteora {
    display: none;
    /* width: 216px; 
    height: 57px;
    display: flex;
    /* justify-content: center; 
    /* align-items: center; 
    margin: auto;
    z-index: 10000;
    background: url(img/carousel/1440.Banner.1.png), 
    lightgray 50% , 
    cover no-repeat;
    background: mediumpurple;
    text-align: center;
}*/

/*
.banner-titulo {
    color: var(--cor-branco);
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

.banner-subtitulo {
    color: var(--cor-branco);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

*/








/*  CATEGORIA 
.h2-container-categoria {
    color: var(--cor-branco);
    display: flex;
    justify-content: center;
}
*/





/* 
@media (max-width: 320px) {
    .carousel-inner {
        display: block;
        background-image: url('img/carousel/375.Banner.1.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 1440px;
    }
}
*/

/*
@media (max-width: 375px) {
    
}

@media (max-width: 600px) {}

@media (max-width: 768px) {}
*/

/*@media (max-width: 1440px) {
    .carousel-inner {
        display: block;
        background-image: url('img/carousel/768.Banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 1440px;
    }
}*/