.container-carrossel {}

.h2-container-categoria {
    color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
}









@media (max-width: 375px) {
    
}

@media (max-width: 600px) {}

@media (max-width: 768px) {}

@media (max-width: 1440px) {
    .carousel-inner {
        background-image: url('img/carousel/768.Banner.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}