.container-carrossel {}

.carousel-inner {
    /*bottom: 67px;*/
}

/*
.slogan-meteora {
    display: none;
    /* width: 216px; 
    height: 57px;
    display: flex;
    /* justify-content: center; 
    /* align-items: center; 
    margin: auto;
    z-index: 10000;
    background: url(img/carousel/1440.Banner.1.png), 
    lightgray 50% , 
    cover no-repeat;
    background: mediumpurple;
}*/

.banner-titulo {
    color: var(--cor-branco);
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
}

.banner-subtitulo {
    color: var(--cor-branco);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
}










/*  CATEGORIA */
.h2-container-categoria {
    color: var(--cor-branco);
    display: flex;
    justify-content: center;
}






/* 
@media (max-width: 320px) {
    .carousel-inner {
        display: block;
        background-image: url('img/carousel/375.Banner.1.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 1440px;
    }
}
*/

@media (max-width: 375px) {
    
}

@media (max-width: 600px) {}

@media (max-width: 768px) {}

/*@media (max-width: 1440px) {
    .carousel-inner {
        display: block;
        background-image: url('img/carousel/768.Banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 1440px;
    }
}*/