/*
.container-categoria {
    background-color: white;
}

.h2-container-categoria {}

.ul-container-categoria {
    display: inline-block;
}

li {
    display: inline-block;
}
.li-container-categoria {
    /* apaguei */
/*
}

.categoria {}
*/
