/*  FOOTER  */

.quemDesenvolveuRodape {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    padding: 36px;
    width: auto;
    height: auto;
}

.madjan-rodape {
    color: white;
}

.madjan-link {
    color: #DAFF01;
    text-decoration-color: blueviolet;
}

.alura-link {
    color: #DAFF01;
    text-decoration-color: blueviolet;
}
/*
@media (max-width: 768px) {
    .quemDesenvolveuRodape {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        text-align: center;
        align-items: center;
        font: 1em sans-serif;
        padding: 16px;
    }
}

@media (max-width: 1440px) {
    .quemDesenvolveuRodape {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        text-align: center;
        align-items: center;
        font: 1em sans-serif;
        padding: 16px;
    }
}
*/