* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
}

.root {
    --color-white: #FFFFFF;
    --color-black: #000000;
}

body {
    background-color: gray;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

