header {
    display: flex;
    justify-content: left;
    background: black;
    padding: 11px;
    gap: 28px;
    align-items: center;
    height: 76px; /*altura do cabeçalho*/
    align-items: center;
}

/* LOGO METEORA */
.logo {
    height: 58px;
    padding-left: 16px;
}
/* BARRA DE NAVEGAÇÃO */
#nav {
    display: flex;
}

/* MENU: HOME,LOJAS, ETC */
#menu {
    display: flex;
    font-size: 1.5rem;
    gap: 1.5rem;
}

/* LINKS DA NAVEGAÇÃO */
.a-menu {
    display: block;
    color: white;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 54px;
    padding: 23px;
    cursor: pointer;
    padding: 1.5rem; 
}

/* ESPAÇO COLORIDO PARA CADA LINK */
.a-menu:hover {
    background: gray;
}

/* TESTE: Barra para mobile: TESTE */
#btn-mobile { 
    display: none;
    /*bloqueia aparecer na tela grande*/
}

/* BARRA PARA MOBILE  */
.bar-mobile {
    width: 25px;
    height: 3px;
    background-color: #DAFF01;
    margin: 3px;
}

/* BARRA DE PESQUISA */
.search-bar {
    padding: 15px 169px;
    height: 13px;
    margin: 23px;
}
.search-bar text {
    padding: 6px 10px;
    border: 1px solid black;
}
.search-bar input [type="text"],
.search-bar-mobile input [type="text"] {
    padding: 6px 10px;
    border: 1px solid black;
}

.search-bar button,
.search-bar-mobile button {
    cursor: pointer;
    padding: 6px 10px;
    color: white;
    background-color: black;
    border: 1px solid white;
}

.search-bar-mobile { 
    display: none;
    /*para desaparecer o search da
    tela grande*/
}



@media (max-width: 375px) {
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;/*tirei o none, no lugar o visibility*/
        position: absolute;
        width: 100%; /*largura da tela*/
        top: 70px;
        right: 0px;
        background: #343A40;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;/*escondido na altura, eixo de y, 
        trabalha junto com visibility: hidden;*/
    }
    #nav.active #menu {
        height: calc(100vh - 70px); /*tamanho todo da tela, viewport*/
        visibility: visible;
        overflow-y: auto;
    }
    .a-menu {
        padding: 16px 0;
        margin: 0 16px;
        border-bottom: 2px solid gray;
    }
    #btn-mobile { /*botao via CSS, teste*/
        display: flex;
        padding: 1.5rem 1rem;
        font-size: 1rem;
        border: none;
        background-color:#000000; 
        color: #DAFF01;
        cursor: pointer;
    }
    #hamburguer {
        width: 20px;
    }
}

@media (max-width: 600px) {}

@media (max-width: 768px) {}

@media (max-width: 1440px) {}




















/*
.nav-links {}



/*
.nav-ul-links {
    display: flex;
    color: var(--color-white);
    overflow: hidden;
    display: flex;
    list-style: none;
    gap: 10px;
    
} */
/*
.nav-ul-links:hover {
    /* background-color: white;*/ /*
}
/*
.nav-ul-li-links {
    text-decoration: none;
    color: var(--color-white);
}





@media (max-width: 375px) {
    header {
        max-width: 375px;
    }
    .logo {
        background-image: url("img/Logo-meteora/375.Logo mobile.png");
        background-repeat: no-repeat;
        padding: 14px 97px 8px 55px; 
        width: 181px;
        height: 33px;
    }

    .nav-ul-links {
        display: none;
    }

    .nav-ul-li-links {
        display: none;
    }

    .carousel-inner { /*qual funciona? nenhum!*/
        /*
        background-image: url("img/carousel/375.Banner.png");
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;*/
    /*    
    }
}
/*
@media (max-width: 768px) {
    .logo {
        background-image: url("img/Logo-meteora/768.Logo.png");
        background-repeat: no-repeat;
        padding: 14px 97px 8px 55px; 
        width: 181px;
        height: 33px;
    }
    header {
        max-width: 768px;
    }
}
*/
/*
@media (max-width: 1440px) {
    .header {
        max-width: 1440px;
    }
    .logo {
        background-image: url("img/Logo-meteora/1440.Logo.png");
        background-repeat: no-repeat;
        padding: 14px 97px 8px 55px; 
        width: 181px;
        height: 33px;
    }
}
*/




/*

@media (max-width: 375px) {
    header {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: black; 
    }
    .container-nav-ul-links{
        overflow: hidden;
    }
    .container-bar {
        display: inline-block;
        cursor: pointer;
    }

    .digiteproduto a, .digiteproduto input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 13px 20px 15px 17px;
    }
    
    .digiteprodutoinput[type=text] {
        border: 1px solid #ccc;  
    }

}   
    


@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: black; 
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }

}

@media (max-width: 1440px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: black; 
        max-width: 1440px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }
}

*/






