header {
    display: flex;
    justify-content: left;
    background: black;
    padding: 11px;
    gap: 28px;
    align-items: center;
    height: 76px; /*altura do cabeçalho*/
    align-items: center;
    width: 375px;
}

/* NAVEGAÇÃO E LOGO METEORA */
figure {
    margin: 0px 49px 0px -40px;
}
.logo {
    height: 51px;
    padding: 0px 0px 0px 56px;
    margin: 0px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    background-image: url(menu.css);
}
/* BARRA DE NAVEGAÇÃO */
#nav {
    display: flex;
    align-items: center; 

}

/* MENU: HOME,LOJAS, ETC */
#menu {
    display: flex;
    font-size: 1.5rem;
    gap: 1.5rem;
}

/* LINKS DA NAVEGAÇÃO */
.a-menu {
    display: block;
    color: white;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 54px;
    padding: 23px;
    cursor: pointer;
    padding: 1.5rem; 
    text-decoration: none
}

/* ESPAÇO COLORIDO PARA CADA LINK */
.a-menu:hover {
    background: gray;
}

/* TESTE: Barra para mobile: TESTE */
#btn-mobile { 
    display: none;
    /*bloqueia aparecer na tela grande*/
}

/* BARRA PARA MOBILE  */
.bar-mobile {
    width: 25px;
    height: 3px;
    background-color: #DAFF01;
    color: var(--cor-verde);
    margin: 3px;
}

/* BARRA DE PESQUISA */
.search-bar {
    padding: 15px 169px;
    height: 13px;
    margin: 23px;
}
.search-bar text {
    padding: 6px 10px;
    border: 1px solid black;
}
.search-bar input [type="text"],
.search-bar-mobile input [type="text"] {
    padding: 6px 10px;
    border: 1px solid black;
}

.search-bar button,
.search-bar-mobile button {
    cursor: pointer;
    padding: 6px 10px;
    color: white;
    background-color: black;
    border: 1px solid white;
}

.search-bar-mobile { 
    display: none;
    /*para desaparecer o search da
    tela grande*/
}



/* TESTE SEARCH */
/*
.nav-search-container {
    display: inline-block;
}
*/

.nav-search {
    width: 2rem;
    height: 38px;
    flex-shrink: 0;
    background-color: greenyellow;
    border: 1px solid #000;
}


/*barra modal*/






































/** ----------*/

@media (max-width: 375px) {
    header {
        max-width: 375px;
        padding: 0px;
        gap: 10px;
    }
    
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;/*tirei o none, no lugar o visibility*/
        position: absolute;
        width: 100%; /*largura da tela*/
        top: 70px;
        right: 0px;
        background: #343A40;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;/*escondido na altura, eixo de y, 
        trabalha junto com visibility: hidden;*/
    }
    #nav.active #menu {
        height: calc(100vh - 70px); /*tamanho todo da tela, viewport*/
        visibility: visible;
        overflow-y: auto;
    }
    .a-menu {
        padding: 16px 0;
        margin: 0 16px;
        border-bottom: 2px solid gray;
    }
    /*botao via CSS*/
    #btn-mobile { 
        display: flex;
        padding: 0.5rem 2rem;
        font-size: 1rem;
        border: none;
        background-color: black;
        color: rgb(218, 255, 1);
        cursor: pointer;
        gap: 2.5rem;
    }
    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid #DAFF01;
    }
    #hamburguer::after, #hamburguer::before {
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        background: #DAFF01;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}























