.card-container-produtos {
    width: 375px;
}

.card-h2-titulo-produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 6px 13px 0px;
    color: #212529;
}

.card-ol-list {}

.card-li {
    margin: 0px 0px 30px 0px;
}

.card {
    width: 19.5rem;
}

.card-img-Produto {
    width: 311px;
    height: 367px;
}

.card-body {}

.card-title {}

.card-text {}

.card-price {
    font-weight: bold;
    color: #212529;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
}

.btn-primary {
    background: #9353FF;
}


